<section class="row m-0 services_section" id="section_services">
    <div class="col-md-12">
        <h1 class="section_heading">Our Services</h1>
        <h4 class="text-center">We provide best services at your doorstep</h4>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center"> 
            <div class="col-md-10">
                <div id="servCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv1.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Mini Mani-Pedi</h4>
                                            <p>A manicure is a cosmetic beauty treatment for the fingernails and 
                                               hands performed at home or in a nail salon.</p>
                                            <a href="#" class="btn btn-primary">Book Now <i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv2.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Hairdressing</h4>
                                            <p>Hairdressing as an occupation dates back thousands of years.
                                             Ancient art drawings and paintings have been discovered.</p>
                                            <a href="#" class="btn btn-primary">Book Now<i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv3.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Hair Styling</h4>
                                            <p>The Styling of hair can be considered an aspect of personal grooming,fashion,& cosmetic
                                               also influence some hairstyles
                                        </p>
                                            <a href="#" class="btn btn-primary">Book Now<i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv4.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Facial Treatments</h4>
                                            <p>At Beautistic we offer a full range of facials to suit your needs including LED Phototherapy,
                                             Skin Needling & Skin Peels.</p>
                                            <a href="#" class="btn btn-primary">Book Now <i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv5.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Massages</h4>
                                            <p>Massage is the manipulation of soft tissues in the body. Massage
                                             techniques are applied with hands, fingers, elbows.
                                            </p>
                                            <a href="#" class="btn btn-primary">Book Now<i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv6.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>File and Polish</h4>
                                            <p>A file and polish will involve the therapist filling your nails into the shape of your choice
                                             a good spa will ask your preference</p>
                                            <a href="#" class="btn btn-primary">Book Now<i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv7.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Skin Treatment</h4>
                                            <p>Face mask have become the foundation of any luxurious skin care routine.
                                               it heels any skin problem.</p> 
                                                 <!-- No matter how tired,stressed
                                              your skin is,it heels everything-->
                                            <a href="#" class="btn btn-primary">Book Now <i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv8.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Cosmetics</h4>
                                            <p>Cosmetics are substances or products used to enhance or 
                                               alter the appearance of the face or fragrance and texture
                                               of the body.</p>
                                            <a href="#" class="btn btn-primary">Book Now <i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/imgs/serv9.png"
                                                class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Aroma Massage</h4>
                                            <p>Aromatherapy uses aromatic plant oils,aromatic
                                              compounds for the purpose to changes one’s mood</p>
                                            <a href="#" class="btn btn-primary">Book Now <i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#servCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#servCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>