
<head>
    <meta name="viewport">
    <link href="beautition-info.component.css" rel="stylesheet">
</head>

    <body>
        <app-header></app-header>
        <div class="container">
            <div class="row md-0">
                <div class="col-md-12 text-center heading">
                    <b style="color:#862d59;">About  Famous  Beauticians</b>
                    <p style="font-size: medium;"><i>The Beauty of a Women is not in her facial makeup but in the kindness of her soul</i></p>
                </div>
                <br><br>
                <div class="col-md-12 mt-4 info1" style="background-color:#F4ECF7;">
                    <div class="col-md-9" style="float: right;">
                        <p style="margin-top: 20px;">Ojas Rajani is a Mumbai based celebrity makeup artist,hairstylist and actress. She is a transgender. Ojas is the founder of <b>Ojas Rajani Makeup and Hair Academy</b>. She also
                        provide intense pro master class training in hair and makeup. In 2008, she made her acting debut in the bollywood movie <b>Fashion</b> under the direction of Madhur Bhandarkar.She rose to fame in Tamil Nadu for her portryal role Osma Jasmine in the Kollywood Movie(2015)
                        directed by Shankar. She is also known as Osma Jasmine </p>
                        <p>She got first place in weddings.online.in.websites <span><b>Top 10 Makeup Artist for 2019 Weddings.</b></span></p>
                        <p> She has honored by <b>Best Bridal Hair Styling -Wedding </b> award and <b>Best Bridal Hairstyling -Other Functions </b>award in <b>Wedding Sutra Beauty Awards 2019.</b></p>
                        <span class="four-attributes">
                             <span class="attribute">
                                <span class="value">200</span>
                                <span class="title">Different Hair styles</span>
                            </span> 
                            <span class="attribute">
                                <span class="value"> 15+</span> 
                                <span class="title">Years of experience</span>
                            </span>
                            <span class="attribute">
                                <span class="value">3000+</span>
                                <span class="title">Clients</span>
                            </span>
                            <span class="attribute">
                                <span class="value">99.8%</span>
                                <span class="title">Satisfied customers</span>
                            </span>
                       </span>
                    </div>

                    <div class="col-md-3">
                        <div class="agent-box">
                          <div class="agent-box-image img1"></div>
                           <h2>&nbsp;&nbsp;<b>Ojas Rajani</b></h2>
                           <p class="description"> &nbsp; <u>Makeup Artist, Hairstylist</u></p>

                           <p  class="cmnt1">
                               <br>
                            <span style="color: black;"><b>"</b></span>
                               Beauty is power, and makeup is Something that really enhances that, its a women's secret.
                               <span style="color: black;"><b>"</b></span>
                           </p>
                        </div>     
                    </div>
                </div>
                <div class="col-md-12  mt-4 info1" style="background-color:#F4ECF7;">
                    <div class="col-md-9" style="float: right;">
                       
                        <p style="margin-top: 20px;"><b>Nikkie de Jager</b>, better known by her YouTube channel name <b>Nikkie Tutorials</b>, is a Dutch makeup artist and beauty vlogger. She gained online Popularity in 2015 after her Youtube Video "The Power of Makeup"
                            went viral and inspired many ither videos of people showing their faces with and without makeup. As of January 2020, her YouTube channel has 13 million subscribers and over 1.2 billion video views. She born in March 2,1994.
                            De Jager has collaborated with beauty brands Ofra in 2017 included liquid lipsticks and a highlighter palette. In December 2019, she callaborated with Lady Gaga, promoting and giving away her makeup brand <b>Haus Laboratories</b>. 
                        </p> 
                        <p>In 2017, she won <b>Youtube Guru award</b> with the title of 9th Annual Shortly Award</p>
                        <p> She has honored by <b>Choice Web Star: Fashion/Beauty</b> award in 2017</p>
                        <br><br>
                        <span class="four-attributes">
                             <span class="attribute" >
                                <span class="value">13M</span>
                                <span class="title">Youtube Suscribers</span>
                             </span> &nbsp; &nbsp; &nbsp;
                             <span class="attribute">
                                <span class="value"> 10+</span> 
                                <span class="title">Years of experience</span>
                             </span> &nbsp; &nbsp; &nbsp;
                             <span class="attribute">
                                 <span class="value">10,000+</span> 
                                 <span class="title">Clients</span>
                             </span> 
                        </span>
                    </div>

                    <div class="col-md-3">
                        <div class="agent-box">
                         <div class="agent-box-image" style="background-image: url(&quot;https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRagUohXwukBgc0P4WnY8BQPWZepPK42-C7q9ROMZ41DZ2_fmRk&quot;);">
                        </div>
                           <h2><b>Nikkie de Jager</b></h2>
                           <p class="description"><u>Makeup artist and beauty vlogger</u></p>
                           <p class="cmnt1">
                               <br>
                            <span style="color: black;"><b>"</b></span>
                               Makeup is an extraordinary tool that allows me to share my inspirations, my fantasies, and my vision with the world.
                               <span style="color: black;"><b>"</b></span>
                           </p>
                        </div>     
                    </div>
                </div>

            
                <div class="col-md-12 mt-4 info1" style="background-color:#F4ECF7;">
                    <div class="col-md-9" style="float: right;">
                        <p style="margin-top: 20px;"> <b>Lisa Eldridge</b> is an English-New Zealand make-up artist, businesswoman, author, and YouTuber.[
                        Raised in New Zealand and Liverpool, England. She had her first big break when she was booked by Elle magazine to work with model Cindy Crawford. 
                        From 2003 to 2013, Eldridge was Creative Director for Boots No7, where she was responsible for developing, re-designing and re-launching the brand.
                        Eldridge is currently global creative director of Lancôme, working across product development, advertising campaigns and digital strategy.
                        </p>
                        <p>At the WWD and Variety Stylemakers awards in LA where She won the <b>BEST MAKEUP ARTIST</b> award</p>
            <br><br><br>
                        <span class="four-attributes">
                             <span class="attribute" >
                                <span class="value">100+</span>
                                <span class="title">Makeup looks</span>
                            </span> 
                            <span class="attribute">
                                <span class="value"> 10+</span> 
                                <span class="title">Years of experience</span>
                            </span>  
                            <span class="attribute">
                                <span class="value" style="font-size: xx-large; margin-top: 5px;">FACE PAINT</span> 
                                <span class="title" style="margin-top: 10px;">The Story of Makeup Book</span>
                            </span>
                            <span class="attribute">
                                <span class="value">10,000+</span>
                                <span class="title">Clients</span>
                            </span>
                        </span>
                    </div>

                    <div class="col-md-3">
                        <div class="agent-box">
                         <div class="agent-box-image img3"></div>
                           <h2><b>&nbsp;&nbsp;Lisa Eldridge</b></h2>
                           <p class="description"><u>Makeup artist, Businesswoman</u></p>

                           <p class="cmnt1">
                               <br>
                            <span style="color: black;"><b>"</b></span>
                               Makeup is an art form for me.It's a form of expression, and it's such a cool way to get my creative juices flowing.
                               <span style="color: black;"><b>"</b></span>
                           </p>
                        </div>     
                    </div>
                </div>
                <div class="col-md-12 mt-4 info1" style="background-color:#F4ECF7;">
                    <div class="col-md-9" style="float: right;">
                        
                        <p style="margin-top: 20px;">
                        <b>Hranush Alexis "Hrush" Achemyan</b> is an Armenian-American celebrity make-up artist and beauty influencer. 
                        She is best known for being a personal stylist for Kylie Jenner and Kim Kardashian.chemyan first began painting, which then led her to being a self-taught make-up artist.
                        She started her make-up stylist career in 2006, with forming the Le Rush company in California, in 2008, which is now Styled by Hrush. Achemyan has since gone on to style most of the Kardashians and Jenners, namely Kylie Jenner and Kim Kardashian. Her career has led to a make-up touring business, such as the Alter Ego Tour.
                        </p> 
                       <br><br><br>
                        <span class="four-attributes">
                                <span class="attribute">
                                    <span class="value"> 10+</span> 
                                    <span class="title">Years of experience</span>
                                </span>  &nbsp; &nbsp; &nbsp;
                                <span class="attribute">
                                    <span class="value" >7000+</span> 
                                    <span class="title">Clients</span>
                                </span>
                                <span class="attribute">
                                    <span class="value">99.9%</span> 
                                    <span class="title" >Satisfied customers</span>
                                </span> 
                        </span>
                    </div>
                    <div class="col-md-3">
                        <div class="agent-box">
                         <div class="agent-box-image img4"></div>
                           <h2><b>Hrush Achemyan</b></h2>
                           <p class="description"><u>Makeup artist</u></p>

                           <p class="cmnt1">
                               <br>
                            <span style="color: black;"><b>"</b></span>
                              Makeup can Make a women look more beautiful at every age.
                               <span style="color: black;"><b>"</b></span>
                           </p>
                        </div>     
                    </div>
                </div>
            </div>
         </div>
         <br>
         <app-footer></app-footer>
        </body>
