<footer class="col-md-12 footer">
    <div class="row pt-5 pb-3" style="border-bottom: 1px solid #fff;">
        <div class="col-md-8 text-center">
            <h5 class="text-light mb-3">Follow Us @</h5>
            <i class="social_icon fa fa-facebook bg-primary"></i>
            <i class="social_icon fa fa-twitter bg-info"></i>
            <i class="social_icon fa fa-google-plus bg-danger"></i>
            <i class="social_icon fa fa-instagram bg-warning"></i>
            <i class="social_icon fa fa-youtube-play bg-danger"></i>
            <ul class="mt-4">
                <li class="item"><i class="fa fa-home"></i> Home</li>
                <li class="item"><i class="fa fa-file"></i> About</li>
                <li class="item"><i class="fa fa-cogs"></i> Services</li>
                <li class="item"><i class="fa fa-calendar"></i> Book Appointment</li>
                <li class="item"><i class="fa fa-phone"></i> Contact Us</li>
                <li class="item"><i class="fa fa-sign-in"></i> Login</li>
                <li class="item"><i class="fa fa-user"></i> Register</li>
            </ul>
        </div>
        <div class="col-md-4 text-light text-center">
            <h5 class="mb-3">For More Information Reach us @</h5>
            <label><i class="fa fa-envelope"></i> info@beautistic.com, contact-us@beautistic.com</label><br>
            <label><i class="fa fa-map-marker"></i> Phase-7, Industrial-Area, Mohali, 160059 ( Punjab )</label><br>
            <label><i class="fa fa-phone"></i> +91-9876767543,+91-9876767544</label>
        </div>
    </div>
    <div class="col-md-12 py-3">
        <p class="text-info text-center">&copy;Copyright@beautician.com All Rights Reserved</p>
    </div>
</footer>